bin/Debug/netcoreapp3.1/Api.deps.json
bin/Debug/netcoreapp3.1/Api.dll
bin/Debug/netcoreapp3.1/Api.exe
bin/Debug/netcoreapp3.1/Api.pdb
bin/Debug/netcoreapp3.1/Api.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Api.runtimeconfig.json
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/DnsClient.dll
bin/Debug/netcoreapp3.1/MongoDB.Bson.dll
bin/Debug/netcoreapp3.1/MongoDB.Driver.Core.dll
bin/Debug/netcoreapp3.1/MongoDB.Driver.dll
bin/Debug/netcoreapp3.1/MongoDB.Libmongocrypt.dll
bin/Debug/netcoreapp3.1/SharpCompress.dll
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/runtimes/win/native/libzstd.dll
bin/Debug/netcoreapp3.1/runtimes/win/native/snappy32.dll
bin/Debug/netcoreapp3.1/runtimes/win/native/snappy64.dll
